@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply bg-tertiary;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 10px;
}
